.board_table{border-collapse:collapse;padding:0; border-spacing:0px; border-spacing:0;table-layout:fixed; border:0; margin:0 auto}
.board_table h2.title{background:url(./img/title_bg.gif) repeat-x; border:1px solid #DDD; font:bold 9pt/32px gulim; padding:0; text-align:center; margin:0;}
.board_table h3.subject{padding:0; margin:0;clear:both; font-weight:bold; font-size:13px; line-height:40px; border-bottom:1px solid #EEE;font-family:'맑은 고딕';}
textarea{border:1px solid #aaa; border-right:1px solid #EEE; border-bottom:1px solid #EEE;width:100%; word-break:break-all; min-height:120px;}
/* list.php */
/* category */

.board_category_select{ clear:both;width:100%; border-bottom:1px solid #DDD; padding:4px;margin-bottom:10px;}

.board_category_list{ clear:both; width:100%; border:1px solid #DDD; padding:10px;margin-bottom:10px;}
.board_category_list a{padding:3px 10px 3px 20px;background:url(./img/icon_category.gif) 5px center no-repeat;}
.board_category_list a.thisList{font-weight:bold;}
/*list.list*/
.board_list{clear:both; width:100%; margin:16px 0; border-top:1px solid #AAA; border-bottom:1px solid #AAA;}
.board_list th{font-size:9pt;background:#F6F6F6; font-weight:normal;text-align:center; border-bottom:1px solid #DDD;height:36px; border-top:1px solid #DDD;}
.board_list td{border-bottom:1px solid #EEE;height:30px;text-align:center;}
.board_list td.num{font-size:8pt; color:#999;}
.board_list td.subject{text-align:left;font-family:'맑은 고딕';}
.board_list td.name{text-align:center;}
.board_list td.datetime{font-size:8pt; color:#999;}
.board_list td.hit{font-size:8pt; color:#999;}
.board_list td.good{font-size:8pt; font-weight:bold; color:#f60;}
.board_list td.nogood{font-size:8pt; font-weight:bold; color:#06f;}
/*list.gallery*/


/*.board_gallery{overflow:hidden;clear:both;margin:16px 0;  padding:0 0 14px 14px; border-top:1px solid #AAA; border-bottom:1px solid #AAA;}*/
.board_gallery{overflow:hidden;clear:both;margin:16px 0;  padding:0 0 14px 0px;}
	ul.board_gallery:after {display:block;visibility:hidden;clear:both;content:""}
.board_gallery li{display:inline;float:left; margin:0 10px 30px 0;text-align:center;list-style:none}
.board_gallery li .image{border:1px solid #DDD;}
.board_gallery li .noimage{font:bold 13px Arial; color:#AAA; border:1px solid #DDD;}
.board_gallery li a.photo{display:block;border:none}
.board_gallery li a.subject{line-height:20px; height:20px; margin-top:5px; display:block;overflow:hidden;font-family:'맑은 고딕';}
/*list.webzine*/

.board_gallery3{
	width: 100%;
	height: 160px;
	border: 1px solid #ccc;
	text-align: center;
	cursor: pointer;
	margin-bottom:5px;
}
.board_gallery3 li{float:left; padding:20px;padding-right:0px;}
.board_gallery3 >  li > a > div{margin-top:5px;}

.board_webzine{margin:0;padding:0;font-size:12px;font-family:Tahoma, Geneva, sans-serif;margin:16px 0;list-style:none}
.board_webzine li{position:relative;padding:10px 0;margin:10px 0 0px 0;border:1px solid #efefef;border-left:0;border-right:0;vertical-align:top;*zoom:1}
.board_webzine li:after{display:block;clear:both;content:"";}
.board_webzine a{text-decoration:none;cursor:pointer; }
.board_webzine a strong{display:inline-block;margin:0 0 4px 0;color:#333; }
.board_webzine a:hover strong,
.board_webzine a:active strong,
.board_webzine a:focus strong{text-decoration:underline}
.board_webzine .thumb{display:inline-block;float:left;margin:0 15px 0 0;-moz-box-shadow:0 0 5px #666;-webkit-box-shadow:0 0 5px #666  }
.board_webzine .thumb img{display:block;border:0}
.board_webzine .wz_content{margin:0;line-height:1.4;}
.board_webzine ul.wz_info{list-style:none;padding:0; margin:0; height:20px; line-height:20px;background:#F6F6F6;}
.board_webzine ul.wz_info li{list-style:none; border:none; margin:0;float:left;  padding:0 16px;font:normal 7pt/20px tahoma; color:#666;  }
.board_webzine ul.wz_info li.wz_info_name{font:normal 8pt/20px gulim; background:url(./img/icon_name.gif) left center no-repeat;}
.board_webzine ul.wz_info li.wz_info_date{background:url(./img/icon_clock.gif) left center no-repeat;}
.board_webzine ul.wz_info li.wz_info_hit{font-weight:bold;background:url(./img/icon_view.gif) left center no-repeat;}

/*list.video */
.board_video{clear:both; width:100%; margin:16px 0; border-top:1px solid #AAA; border-bottom:1px solid #AAA;}
.board_video td{border-bottom:1px solid #EEE;height:30px;text-align:left;}
.board_video td p{padding:0; margin:0; margin-top:2px;}
.board_video td.num{font-size:8pt; color:#999;}
.board_video td.subject{font-weight:bold;}
.board_video td span{font:normal 8pt gulim; color:#AAA; padding:0 10px;}
/*list.faq*/
.board_faq{clear:both; table-layout:fixed;width:100%; margin:0px 0 100px;  border-bottom:1px solid #AAA; border-top:2px solid #AAA;}
.board_faq td{background:#f6f6f6; border-bottom:1px solid #DDD;height:30px;}
.board_faq td.num{font-size:8pt; color:#999;text-align:center;}
.board_faq td.subject{  font-weight:bold;padding:5px 5px;}
.board_faq td.content{word-break:break-all; padding:10px;overflow:hidden;border:1px solid #DDD; background:#FFF;border-top:0}

/*//////////////////////*/

.board_page{clear:both; padding:10px; text-align:center; font:normal 8pt gulim;}
.board_page a{padding:0 5px;}
.board_page span{padding:0 5px; color:#F60}
.board_search{clear:both; border:1px solid #DDD; background:#F6F6F6; text-align:center;padding:10px; margin-top:10px}
.board_search td{padding:4px;}
.board_search td input.bs_btn	{padding:6px 10px 3px 10px; background:#333; color:#fff;border:0px solid #DDD; line-height:100%; cursor:pointer; font-family:dotum; font-size:11px;}
 

.board_button						{clear:both;text-align:right; margin-bottom:10px;}
.board_button a					{padding:5px 15px; border:1px solid #DDD; line-height:100%; margin-left:5px;}
.board_button a.newb			{background:#333; color:#fff;}

/* write.php */
.guest_table{border-collapse:collapse;padding:0; border-spacing:0px; border-spacing:0;table-layout:fixed; width:100%;  background:#FFF;border:1px solid #DDD; margin-top:10px;}
.guest_table th{text-align:left; padding-left:20px; font:normal 9pt/30px gulim; border-bottom:1px solid #DDD;}
.guest_table td{text-align:left; border-bottom:1px solid #DDD; padding:4px 15px 4px 4px;}

.content_btn{height:20px;text-align:right;}
.content_btn img{float:left;}
.w_title{margin-right:10px;}
.wr_subject{padding-right:10px;margin-top:6px;margin-bottom:10px;font-family:'맑은 고딕';}
.wr_content{padding-right:10px; margin-top:6px;}
.wr_content_edit{margin-top:6px;}
#variableFiles td{border:0;border-collapse:collapse;padding:0; border-spacing:0px; border-spacing:0;}

.option_table{border-collapse:collapse;padding:0; border-spacing:0px; border-spacing:0;table-layout:fixed; width:100%;  border:1px solid #DDD; margin-top:10px;}
.option_table th{text-align:left; padding-left:20px; font:normal 9pt/30px gulim; border-bottom:1px solid #DDD;}
.option_table td{text-align:left; border-bottom:1px solid #DDD; padding:4px 15px 4px 4px;}

.board_btn					{text-align:center; padding:20px;}
.board_btn a				{padding:5px 15px; border:1px solid #DDD; line-height:100%; margin-left:5px;}
.board_btn input			{padding:6px 15px; background:#333; color:#fff;border:1px solid #DDD; line-height:100%; cursor:pointer;}

.inputbox{height:12px; padding:4px; border:1px solid #aaa; border-right:1px solid #EEE; width:100%; border-bottom:1px solid #EEE;line-height:12px;}
.subject_inputbox{font-weight:bold; height:18px; padding:4px; border:1px solid #aaa; border-right:1px solid #EEE; width:100%; border-bottom:1px solid #EEE}
.selectbox{height:22px; padding:2px; border:1px solid #aaa; border-right:1px solid #EEE; border-bottom:1px solid #EEE}
.textareabox{padding:4px; border:1px solid #aaa; border-right:1px solid #EEE; border-bottom:1px solid #EEE;width:100%; word-break:break-all;}
.filebox{height:22px; border:1px solid #aaa; border-right:1px solid #EEE; border-bottom:1px solid #EEE}

/* view.php info_scrap info_trackback */

ul.write_info{clear:both;height:20px; border-bottom:1px solid #DDD}
ul.write_info, ul.write_info li{list-style:none; padding:0; margin:0;}
ul.write_info li{float:left; padding:0 16px;font:normal 7pt/20px tahoma; color:#666;}
ul.write_info li.info_name{font:normal 8pt/20px gulim; background:url(./img/icon_name.gif) left center no-repeat;}
ul.write_info li.info_name span{color:#888;}
ul.write_info li.info_name em{color:#888;font-style:normal ;font:normal 7pt/20px verdana;}
ul.write_info li.info_date{background:url(./img/icon_clock.gif) left center no-repeat;}
ul.write_info li.info_scrap {background:url(./img/icon_scrap.gif) left center no-repeat;}
ul.write_info li.info_trackback{background:url(./img/icon_scrap.gif) left center no-repeat;}

ul.write_info li.info_hit{font-weight:bold;background:url(./img/icon_view.gif) left center no-repeat;}
ul.write_info li.info_good{padding-left:26px;font-weight:bold; color:#F60;background:url(./img/icon_good.gif) left center no-repeat;}
ul.write_info li.info_nogood{padding-left:26px;font-weight:bold; color:#06F;background:url(./img/icon_nogood.gif) left center no-repeat;}
.movie_box{padding:10px; text-align:center;}
.view_image{text-align:center;}
.view_image img{ margin-top:20px;overflow:hidden;}
#writeContents{word-break:break-all; min-height:100px;}
/*#writeContents{word-break:break-all; padding:10px; min-height:100px;}*/

.fileLink{border:1px solid #DDD; padding:2px; background:#F6F6F6;}
.fileLink *{list-style:none; padding:0; margin:0;}
.fileLink li{line-height:20px;}
.fileLink .info_file li{background:url(./img/icon_file.gif) 5px center no-repeat; padding-left:25px; font:normal 8pt tahoma;}
.fileLink .info_link li{background:url(./img/icon_link.gif) 5px center no-repeat; padding-left:25px; font:normal 8pt tahoma;}
.fileLink a{color:#666}
.fileLink span{padding-left:10px}
.fileLink span.file_size{color:#999}
.fileLink span.file_hit{color:#F60}
.fileLink span.link_hit{color:#06f}

.info_signature{padding:10px; border:1px solid #DDD; background:#F6F6F6; }
.view_btn					{border-bottom:1px solid #DDD; text-align:right; min-height:30px;}
.view_btn a					{padding:5px 15px; border:1px solid #DDD; line-height:100%; margin-left:5px;}
.view_btn a.newb			{background:#333; color:#fff;}

.view_btn_ne_pr div				{line-height:22px; border-bottom:1px solid #DDD; padding:4px;}
.view_btn_ne_pr span			{padding:3px 5px; border:1px solid #DDD; background:#f8f8f8; margin-right:5px; font-size:11px;}

#bo_v_con {margin-bottom:30px;width:100%;line-height:1.7em;word-break:break-all;margin-top:15px;}
#bo_v_con a {color:#000;text-decoration:underline}
#bo_v_con img {max-width:100%;height:auto}


#bo_cate h2 {position:absolute;font-size:0;line-height:0;overflow:hidden}
#bo_cate ul {margin-bottom:10px;padding-left:1px;width:728px;zoom:1}
#bo_cate ul:after {display:block;visibility:hidden;clear:both;content:""}
#bo_cate li {float:left;margin-bottom:-1px}
#bo_cate a {display:block;position:relative;margin-left:-1px;padding:6px 0 5px;width:90px;border:1px solid #ddd;background:#f7f7f7;color:#888;text-align:center;letter-spacing:-0.1em;line-height:1.2em;cursor:pointer}
#bo_cate a:focus, #bo_cate a:hover, #bo_cate a:active {text-decoration:none}
#bo_cate #bo_cate_on {z-index:2;border:1px solid #565e60;background:#fff;color:#565e60;font-weight:bold}


/* view_comment.skin.php */

/* 게시판 댓글 */
#bo_vc {margin:0 0 20px;padding:20px 20px 10px;border:1px solid #e5e8ec;background:#f5f8f9}
#bo_vc h2 {margin-bottom:10px}
#bo_vc article {padding:0 0 10px;border-top:1px dotted #ccc}
#bo_vc header {position:relative;padding:15px 0 5px}
#bo_vc header .icon_reply {position:absolute;top:15px;left:-20px}
#bo_vc .sv_wrap {margin-right:15px}
#bo_vc .member, #bo_vc .guest, #bo_vc .sv_member, #bo_vc .sv_guest {font-weight:bold}
.bo_vc_hdinfo {display:inline-block;margin:0 15px 0 5px}
#bo_vc h1 {position:absolute;font-size:0;line-height:0;overflow:hidden}
#bo_vc a {color:#000;text-decoration:none}
#bo_vc p {padding:0 0 5px;line-height:1.8em}
#bo_vc p a {text-decoration:underline}
#bo_vc p a.s_cmt {text-decoration:none}
#bo_vc_empty {margin:0;padding:20px !important;text-align:center}
#bo_vc #bo_vc_winfo {float:left}
#bo_vc footer {zoom:1}
#bo_vc footer:after {display:block;visibility:hidden;clear:both;content:""}

.bo_vc_act {float:right;margin:0;list-style:none;zoom:1}
.bo_vc_act:after {display:block;visibility:hidden;clear:both;content:""}
.bo_vc_act li {float:left;margin-left:5px}

#bo_vc_w {position:relative;margin:0 0 10px;padding:0 0 20px;border-bottom:1px solid #cfded8}
#bo_vc_w h2 {position:absolute;font-size:0;line-height:0;overflow:hidden}
#bo_vc_w #char_cnt {display:block;margin:0 0 5px}

#bo_vc_sns {margin:0;padding:0;list-style:none;zoom:1}
#bo_vc_sns:after {display:block;visibility:hidden;clear:both;content:""}
#bo_vc_sns li {float:left;margin:0 20px 0 0}
#bo_vc_sns input {margin:0 0 0 5px}

#bo_v_atc_title {
position: absolute;
font-size: 0;
line-height: 0;
overflow: hidden;
}

#bo_v_table {
position: absolute;
top: 0;
right: 16px;
margin: 0;
padding: 0 5px;
height: 25px;
background: #ff3061;
color: #fff;
font-weight: bold;
line-height: 2.2em;
display:none;
}

#bo_v_act {margin-bottom:30px;text-align:center}
#bo_v_act .bo_v_act_gng {position:relative}
#bo_v_act a {margin-right:5px;vertical-align:middle}
#bo_v_act strong {color:#ff3061}
#bo_v_act_good, #bo_v_act_nogood {display:none;position:absolute;top:30px;left:0;padding:10px 0;width:165px;background:#ff3061;color:#fff;text-align:center}

#bo_v_sns {margin:0 0 20px;padding:0;list-style:none;zoom:1}
#bo_v_sns:after {display:block;visibility:hidden;clear:both;content:""}
#bo_v_sns li {float:left;margin:0 5px 0 0}
